# Server Configuration
PORT=3000
JWT_SECRET=your_jwt_secret_key

# PostgreSQL Database Configuration
DB_HOST=localhost                     # Use 'db' if running via Docker
DB_NAME=example_db
DB_USERNAME=example_user
DB_PASSWORD=example_password

# Email Configuration (used for Nodemailer)
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

